<template>
  <b-container>
    <b-jumbotron header="Arma 3 Mod Differ">
      <p>Upload your preset with every mods enabled, and then the modpacks you want to save. This tool then gives you a list of mods you are currently subscribed to, but don't need to play the uploaded modsets.</p>
      <span>Video showing how to use it: <a href="https://youtu.be/Ybpff2u6OoQ">https://youtu.be/Ybpff2u6OoQ</a></span>
      <span class="float-right"><small>v1.2</small></span>
    </b-jumbotron>

    <b-row class="form-group">
      <label for="allmodsFiles">All Mods:</label>
      <b-form-file
              id="allmodsFiles"
              v-model="fileAllMods"
              :state="Boolean(fileAllMods)"
              placeholder="Upload or drop your preset with all mods enabled..."
              drop-placeholder="Drop preset with all mods enabled here..."
              accept=".html"
              size="lg"
      ></b-form-file>
    </b-row>
    <br/>
    <b-row class="form-group">
      <label for="presetFiles">Mod Pack Presets:</label>
      <b-form-file
              id="presetFiles"
              v-model="fileSavedModsArray"
              :state="Boolean(fileSavedModsArray)"
              multiple
              placeholder="Upload or drop your mod packs you want to save..."
              drop-placeholder="Drop modpacks you want to save here..."
              accept=".html"
              size="lg"
      ></b-form-file>
    </b-row>
    <b-button variant="primary" size="lg" class="form-group" @click="UploadFiles">Submit</b-button>
    <hr/>
    <b-row class="justify-content-center" v-show="calcCalled">
      <b-col class="align-self-center">
        <div class="form-group jumbotron title-padding">
          <h3 class="">Subscribed mods you are not currently using in the given presets</h3>
        </div>
      </b-col>
    </b-row>
    <b-button variant="primary" v-show="calcCalled" @click="openInTabs" class="float-right">Open all mods in tabs</b-button>
    <b-row class="justify-content-center" id="scrollToElement">
      <b-list-group>
            <b-list-group-item class="d-flex justify-content-between align-items-center" button variant="info" tabindex="0" v-b-tooltip.manual.right title="Copied!" v-for="item in modsToRemove" :key="item.text" v-bind:id="item.text" v-clipboard="item.text" @click="TickOff($event, item.text)">
              {{ item.text }}
              <b-button variant="outline-secondary" class="steam-page-button" type="href" target="_blank" v-bind:href="item.url" :key="item.url">Steam Page</b-button>
            </b-list-group-item>
      </b-list-group>
    </b-row>
  </b-container>
</template>

<script>
  import {parse} from 'node-html-parser';

  var VueScrollTo = require('vue-scrollto');

  export default {
    name: 'HelloWorld',
    data() {
      return {
        fileAllMods: null,
        fileSavedModsArray: null,
        allModsRaw: null,
        savedModsRaw: [],
        allModsLoaded: false,
        savedModsLoaded: 0,
        calcCalled: false,
        modsToRemove: [] // {'text': '[16PF] Goose Green, Falklands', 'url':'https://steamcommunity.com/sharedfiles/filedetails/?id=1692037148'},{'text': '[16PF] Goose Green, Falklands', 'url':'https://steamcommunity.com/sharedfiles/filedetails/?id=1692037148'}
      }
    },
    methods: {
      TickOff (listitem, id) {

        // only change colour if clicked on group item, and not if the inside button for steam page is clicked
        if (!listitem.target.className.includes('list-group-item-action')) {
          return;
        }
        // else do what we normally do
        listitem.target.className = "d-flex justify-content-between align-items-center list-group-item list-group-item-secondary list-group-item-action";

        // show tooltip
        this.$root.$emit('bv::show::tooltip', id);

        // auto close in 2 sec
        let self = this;
        setTimeout(function () {
          self.$root.$emit('bv::hide::tooltip', id)
        }, 1000);
      },
      UploadFiles () {
        this.resetState(); // reset state as we uploads new files

        // validation
        if (this.fileAllMods === null || this.fileSavedModsArray === null) {
          alert("You need to add files!");
          return;
        }

        let self = this;
        // get file contents
        this.fileAllMods.text().then(function(text) {
          self.allModsRaw = text;
          self.allModsLoaded = true;

          if (self.allModsLoaded && self.savedModsLoaded >= self.fileSavedModsArray.length && !self.calcCalled) {
            self.CalcModDiff();
          }
        });

        // get contents of presets to save through array
        for (let fs of this.fileSavedModsArray) {
          fs.text().then(function(text) {
            self.savedModsRaw.push(text);
            self.savedModsLoaded += 1;

            // check if we are moving phase
            if (self.allModsLoaded && self.savedModsLoaded >= self.fileSavedModsArray.length && !self.calcCalled) {
              self.CalcModDiff();
            }
          })
        }
      },
      CalcModDiff() {
        // set flag
        this.calcCalled = true;

        // regex to find modid from url
        let regx_url = /(?<=\?id=)(\d+)/g

        // parse and save all mods
        const root = parse(this.allModsRaw);
        let tds = root.querySelectorAll('[data-type="ModContainer"]');

        let allMods = [];
        for (let tr of tds) {
          let modText = tr.querySelector('[data-type="DisplayName"]');
          let modUrl = tr.querySelector('[data-type="Link"]');

          // get ID
          let modId = modUrl.text.match(regx_url);
          //if local mods, it will find no id, and throw null. To avoid it stops rest of execution of list, we catch it here
          if (modId == null) {
            continue
          }

          allMods.push({
            'text': modText.text,
            'url': modUrl.text,
            'id': modId[0],
            "size": "..."
          });
        }

        // parse and save all saved mods
        let allSavedMods = [];

        // loop over preset files
        for (let pack of this.savedModsRaw) {
          const root = parse(pack);
          let tds = root.querySelectorAll('[data-type="Link"]');

          tds.map(mod => {
            // get ID
            let modId = mod.text.match(regx_url);
            //if local mods, it will find no id, and throw null. To avoid it stops rest of execution of list, we catch it here
            if (modId != null) {
              allSavedMods.push(modId[0]);
            }
          });
        }

        // then remove duplicates
        allSavedMods = [...new Set(allSavedMods)];

        // match each mod in allmods and remove them from the list
        this.modsToRemove = allMods.filter(function (item) {
          return !allSavedMods.includes(item.id)
        });

        // auto scroll page down to beginning of element ...
        var options = {
          easing: 'ease',
          offset: 0,
          force: true,
          cancelable: true,
          x: false,
          y: true
        };
        // eslint-disable-next-line no-unused-vars
        let cancelScroll = VueScrollTo.scrollTo("#scrollToElement", 500, options);

        // start process of fetching sizes
        this.getModSizes();
      },
      async getModSizes () {
        for (let mod of this.modsToRemove) {
          console.log(mod.url);

          // get size of item based on id
          const html = await fetch(mod.url, {
            method: 'GET',
            mode: 'no-cors',
            headers: {
              'Content-Type': 'text/plain',
              'Access-Control-Allow-Origin': '*'
            }
          });
          console.log(await html);
        }
      },
      openInTabs () {
        for (let mod of this.modsToRemove) {
          window.open(mod.url, "_blank");
        }
      },
      resetState () {
        this.allModsRaw = null;
        this.allModsLoaded = false;
        this.savedModsRaw = [];
        this.savedModsLoaded = 0;
        this.modsToRemove = [];
        this.calcCalled = false;
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
