@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

.console p {
  background-color: #d8e3f0;
  border: 1px solid slategray;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.title-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.steam-page-button {
  margin-left: 1rem;
}
